.add {
    position: fixed;
    background: white;
    bottom: 0;
    width: 41%;
    z-index: 15;
    box-shadow: 1px -9px 11px 3px #8080807d;
    transition: all 150ms ease-in-out;
    height: 80vh;
    @include for-mobile-layout {
        width: 95%;
        margin: 0 auto;
    }

    textarea {
        outline: none;
        height: 201px;
        width: 354px;
        border: none;
        color: $clr1;
        font-size: 20px;

        //box-shadow: 0px 1px 6px 3px #8080802b;
    }
    .inputs-container {
        text-transform: capitalize;
        padding: 30px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .input-container {
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            width: 48%;
            //flex: 50%;
            color: $clr2;
            input[type="text"],
            input[type="number"] {
                color: $clr1;
                font-size: 20px;
                margin-top: 15px;
                background: transparent;
                border: none;
                border-bottom: 1px solid $clr2;
                outline: none;
            }
            span {
                margin-bottom: 5px;
            }
        }
    }
    .close {
        position: absolute;
        right: 12px;
        top: 20px;
        height: 30px;
        width: 30px;
    }
    img {
        height: 40px;
        width: 40px;
        position: absolute;
        top: 69%;
        right: 29px;
        cursor: pointer;
    }
    button {
        border: none;
        background: #f0f8ff00;
    }
}
