.main-container {
    width: calc(100vw - 60vw);
    margin: 0 auto;
    margin-top: 3rem;
    background-color: rgb(255, 255, 255);

    @include for-mobile-layout {
        width: calc(100vw - 20px);
    }
}
